
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
</head>
<body>
    <div> 

        View Action : Demo


        <h1 id="hd1" ibmString="Hello From IBM"  data-val="demo" >  hello  </h1>

        <script>



            alert($("#hd1").attr("ibmString"));  
            

        </script>
    </div>
</body>
</html>
