
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JQueryIntro</title>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script>

        $(function () {
            $("h1").html("WELCOME TO JQUERY!!!!!!")
        }) 

    </script>
</head>
<body>
    <div>
        <h1>Default Value ....</h1>
        <h1>Default Value ....</h1>
        <h1>Default Value ....</h1>
        <h1>Default Value ....</h1>
       
        <h1>Default Value ....</h1>
        <h1>Default Value ....</h1>
        <h1>Default Value ....</h1>
    </div>
</body>
</html>
